In [41]:
import pandas as pd
import seaborn as sns

In [29]:
df = pd.read_csv("titanic_treino.csv")

### Display the first five lines

In [30]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Display only the Columns

In [31]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Filtrar por valor da coluna | Onde pclass == 1

In [32]:
df["Pclass"] == 1

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Pclass, Length: 891, dtype: bool

# UTILIZANDO DO SEABORN

In [42]:
df = sns.load_dataset("titanic")

### Dataframe Head - 5 Primeiras Linhas

In [60]:
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

### Dataframe Info

In [63]:
df.info

<bound method DataFrame.info of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

### Colunas do Datase

In [55]:
print("Dataset Columns:")
for col in df.columns:
    print(f"- {col}")

Dataset Columns:
- survived
- pclass
- sex
- age
- sibsp
- parch
- fare
- embarked
- class
- who
- adult_male
- deck
- embark_town
- alive
- alone

### Apenas passageiros da Primeira Classe

In [56]:
df_primeira_classe = df[df["pclass"] == 1]

In [57]:
print(df_primeira_classe)

     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1           1       1  female  38.0      1      0  71.2833        C  First
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
11          1       1  female  58.0      0      0  26.5500        S  First
23          1       1    male  28.0      0      0  35.5000        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
11   woman       False    C  Southampton   yes   True
23     man        True    A  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[216 rows x 15 columns]

### Qual é a idade média dos passageiros?

In [58]:
df_average_age = df["age"].mean()

In [59]:
print(df_average_age)

29.69911764705882

### Qual a tarifa média paga por cada classe de passageiros

In [65]:
df_average_fare_by_class = df.groupby("pclass")["fare"].mean()

In [66]:
print(df_average_fare_by_class)

pclass
1    84.154687
2    20.662183
3    13.675550
Name: fare, dtype: float64

### Tarifa média paga por passageiros da classe 1

print(df[df["pclass"] == 1]["fare"].mean())

### Tarifa média paga por passageiros da classe 2

In [75]:
print(df[df["pclass"] == 2]["fare"].mean())

20.662183152173913

### Tarifa média paga por passageiros da classe 3

In [76]:
print(df[df["pclass"] == 3]["fare"].mean())

13.675550101832993

### Ordenando os Passageiros pela Idade | Mais Velho para Mais Novo

In [94]:
df_ordenado_velho_para_novo = df.sort_values(by="age", ascending=False).head(5)

In [95]:
print(df_ordenado_velho_para_novo)

     survived  pclass   sex   age  sibsp  parch     fare embarked  class  who  \
630         1       1  male  80.0      0      0  30.0000        S  First  man
851         0       3  male  74.0      0      0   7.7750        S  Third  man
493         0       1  male  71.0      0      0  49.5042        C  First  man
96          0       1  male  71.0      0      0  34.6542        C  First  man
116         0       3  male  70.5      0      0   7.7500        Q  Third  man

     adult_male deck  embark_town alive  alone
630        True    A  Southampton   yes   True
851        True  NaN  Southampton    no   True
493        True  NaN    Cherbourg    no   True
96         True    A    Cherbourg    no   True
116        True  NaN   Queenstown    no   True

### Cidade dos 5 Passageiros Mais Velhos

In [97]:
print(df_ordenado_velho_para_novo["embark_town"])

630    Southampton
851    Southampton
493      Cherbourg
96       Cherbourg
116     Queenstown
Name: embark_town, dtype: object

### Cidade dos 5 Passageiros Mais Velhos - Bullet List

In [98]:
for town in (df_ordenado_velho_para_novo["embark_town"]):
    print(f"- {town}")

- Southampton
- Southampton
- Cherbourg
- Cherbourg
- Queenstown

### Passageiros do Sexo Feminino na Terceira Classe

In [100]:
df_female_thirdclass = df[(df["sex"] == "female") & (df["pclass"] == 3)]

#### Listagem dos Passageiros do Sexo Feminino na Terceira Classe

In [105]:
print(df_female_thirdclass)

     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
2           1       3  female  26.0      0      0   7.9250        S  Third
8           1       3  female  27.0      0      2  11.1333        S  Third
10          1       3  female   4.0      1      1  16.7000        S  Third
14          0       3  female  14.0      0      0   7.8542        S  Third
18          0       3  female  31.0      1      0  18.0000        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
863         0       3  female   NaN      8      2  69.5500        S  Third
875         1       3  female  15.0      0      0   7.2250        C  Third
882         0       3  female  22.0      0      0  10.5167        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
18   woman       False  NaN  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
863  woman       False  NaN  Southampton    no  False
875  child       False  NaN    Cherbourg   yes   True
882  woman       False  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
888  woman       False  NaN  Southampton    no  False

[144 rows x 15 columns]

#### Total dos Passageiros do Sexo Feminino na Terceira Classe

In [107]:
print(len(df_female_thirdclass))

144

#### Total dos Passageiros do Sexo Feminino na Terceira Classe

### Colunas que contêm valores nulos

In [ ]:
print

In [108]:
print(df.isnull())

     survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
0       False   False  False  False  False  False  False     False  False
1       False   False  False  False  False  False  False     False  False
2       False   False  False  False  False  False  False     False  False
3       False   False  False  False  False  False  False     False  False
4       False   False  False  False  False  False  False     False  False
..        ...     ...    ...    ...    ...    ...    ...       ...    ...
886     False   False  False  False  False  False  False     False  False
887     False   False  False  False  False  False  False     False  False
888     False   False  False   True  False  False  False     False  False
889     False   False  False  False  False  False  False     False  False
890     False   False  False  False  False  False  False     False  False

       who  adult_male   deck  embark_town  alive  alone
0    False       False   True        False  False  False
1    False       False  False        False  False  False
2    False       False   True        False  False  False
3    False       False  False        False  False  False
4    False       False   True        False  False  False
..     ...         ...    ...          ...    ...    ...
886  False       False   True        False  False  False
887  False       False  False        False  False  False
888  False       False   True        False  False  False
889  False       False  False        False  False  False
890  False       False   True        False  False  False

[891 rows x 15 columns]

#### Quantidade de Valores Nulos por Coluna

In [139]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

### Quantidade de Valores Nulos por Coluna | Utilizando Iteração com formatação de Lista

In [140]:
for coluna, nulos in list(df.isnull().sum().items()):
    print(f"{coluna} | {nulos}")

survived | 0
pclass | 0
sex | 0
age | 0
sibsp | 0
parch | 0
fare | 0
embarked | 2
class | 0
who | 0
adult_male | 0
deck | 688
embark_town | 2
alive | 0
alone | 0

### Definindo a Média de Idade nos Valores Nulos do DataFrame

In [141]:
df["age"] = df["age"].fillna(df["age"].mean())

In [137]:
for index, age in enumerate(df["age"], start=1):
    print(f"{index} | {age}")

1 | 22.0
2 | 38.0
3 | 26.0
4 | 35.0
5 | 35.0
6 | 29.69911764705882
7 | 54.0
8 | 2.0
9 | 27.0
10 | 14.0
11 | 4.0
12 | 58.0
13 | 20.0
14 | 39.0
15 | 14.0
16 | 55.0
17 | 2.0
18 | 29.69911764705882
19 | 31.0
20 | 29.69911764705882
21 | 35.0
22 | 34.0
23 | 15.0
24 | 28.0
25 | 8.0
26 | 38.0
27 | 29.69911764705882
28 | 19.0
29 | 29.69911764705882
30 | 29.69911764705882
31 | 40.0
32 | 29.69911764705882
33 | 29.69911764705882
34 | 66.0
35 | 28.0
36 | 42.0
37 | 29.69911764705882
38 | 21.0
39 | 18.0
40 | 14.0
41 | 40.0
42 | 27.0
43 | 29.69911764705882
44 | 3.0
45 | 19.0
46 | 29.69911764705882
47 | 29.69911764705882
48 | 29.69911764705882
49 | 29.69911764705882
50 | 18.0
51 | 7.0
52 | 21.0
53 | 49.0
54 | 29.0
55 | 65.0
56 | 29.69911764705882
57 | 21.0
58 | 28.5
59 | 5.0
60 | 11.0
61 | 22.0
62 | 38.0
63 | 45.0
64 | 4.0
65 | 29.69911764705882
66 | 29.69911764705882
67 | 29.0
68 | 19.0
69 | 17.0
70 | 26.0
71 | 32.0
72 | 16.0
73 | 21.0
74 | 26.0
75 | 32.0
76 | 25.0
77 | 29.69911764705882
78 | 29.69911764705882
79 | 0.83
80 | 30.0
81 | 22.0
82 | 29.0
83 | 29.69911764705882
84 | 28.0
85 | 17.0
86 | 33.0
87 | 16.0
88 | 29.69911764705882
89 | 23.0
90 | 24.0
91 | 29.0
92 | 20.0
93 | 46.0
94 | 26.0
95 | 59.0
96 | 29.69911764705882
97 | 71.0
98 | 23.0
99 | 34.0
100 | 34.0
101 | 28.0
102 | 29.69911764705882
103 | 21.0
104 | 33.0
105 | 37.0
106 | 28.0
107 | 21.0
108 | 29.69911764705882
109 | 38.0
110 | 29.69911764705882
111 | 47.0
112 | 14.5
113 | 22.0
114 | 20.0
115 | 17.0
116 | 21.0
117 | 70.5
118 | 29.0
119 | 24.0
120 | 2.0
121 | 21.0
122 | 29.69911764705882
123 | 32.5
124 | 32.5
125 | 54.0
126 | 12.0
127 | 29.69911764705882
128 | 24.0
129 | 29.69911764705882
130 | 45.0
131 | 33.0
132 | 20.0
133 | 47.0
134 | 29.0
135 | 25.0
136 | 23.0
137 | 19.0
138 | 37.0
139 | 16.0
140 | 24.0
141 | 29.69911764705882
142 | 22.0
143 | 24.0
144 | 19.0
145 | 18.0
146 | 19.0
147 | 27.0
148 | 9.0
149 | 36.5
150 | 42.0
151 | 51.0
152 | 22.0
153 | 55.5
154 | 40.5
155 | 29.69911764705882
156 | 51.0
157 | 16.0
158 | 30.0
159 | 29.69911764705882
160 | 29.69911764705882
161 | 44.0
162 | 40.0
163 | 26.0
164 | 17.0
165 | 1.0
166 | 9.0
167 | 29.69911764705882
168 | 45.0
169 | 29.69911764705882
170 | 28.0
171 | 61.0
172 | 4.0
173 | 1.0
174 | 21.0
175 | 56.0
176 | 18.0
177 | 29.69911764705882
178 | 50.0
179 | 30.0
180 | 36.0
181 | 29.69911764705882
182 | 29.69911764705882
183 | 9.0
184 | 1.0
185 | 4.0
186 | 29.69911764705882
187 | 29.69911764705882
188 | 45.0
189 | 40.0
190 | 36.0
191 | 32.0
192 | 19.0
193 | 19.0
194 | 3.0
195 | 44.0
196 | 58.0
197 | 29.69911764705882
198 | 42.0
199 | 29.69911764705882
200 | 24.0
201 | 28.0
202 | 29.69911764705882
203 | 34.0
204 | 45.5
205 | 18.0
206 | 2.0
207 | 32.0
208 | 26.0
209 | 16.0
210 | 40.0
211 | 24.0
212 | 35.0
213 | 22.0
214 | 30.0
215 | 29.69911764705882
216 | 31.0
217 | 27.0
218 | 42.0
219 | 32.0
220 | 30.0
221 | 16.0
222 | 27.0
223 | 51.0
224 | 29.69911764705882
225 | 38.0
226 | 22.0
227 | 19.0
228 | 20.5
229 | 18.0
230 | 29.69911764705882
231 | 35.0
232 | 29.0
233 | 59.0
234 | 5.0
235 | 24.0
236 | 29.69911764705882
237 | 44.0
238 | 8.0
239 | 19.0
240 | 33.0
241 | 29.69911764705882
242 | 29.69911764705882
243 | 29.0
244 | 22.0
245 | 30.0
246 | 44.0
247 | 25.0
248 | 24.0
249 | 37.0
250 | 54.0
251 | 29.69911764705882
252 | 29.0
253 | 62.0
254 | 30.0
255 | 41.0
256 | 29.0
257 | 29.69911764705882
258 | 30.0
259 | 35.0
260 | 50.0
261 | 29.69911764705882
262 | 3.0
263 | 52.0
264 | 40.0
265 | 29.69911764705882
266 | 36.0
267 | 16.0
268 | 25.0
269 | 58.0
270 | 35.0
271 | 29.69911764705882
272 | 25.0
273 | 41.0
274 | 37.0
275 | 29.69911764705882
276 | 63.0
277 | 45.0
278 | 29.69911764705882
279 | 7.0
280 | 35.0
281 | 65.0
282 | 28.0
283 | 16.0
284 | 19.0
285 | 29.69911764705882
286 | 33.0
287 | 30.0
288 | 22.0
289 | 42.0
290 | 22.0
291 | 26.0
292 | 19.0
293 | 36.0
294 | 24.0
295 | 24.0
296 | 29.69911764705882
297 | 23.5
298 | 2.0
299 | 29.69911764705882
300 | 50.0
301 | 29.69911764705882
302 | 29.69911764705882
303 | 19.0
304 | 29.69911764705882
305 | 29.69911764705882
306 | 0.92
307 | 29.69911764705882
308 | 17.0
309 | 30.0
310 | 30.0
311 | 24.0
312 | 18.0
313 | 26.0
314 | 28.0
315 | 43.0
316 | 26.0
317 | 24.0
318 | 54.0
319 | 31.0
320 | 40.0
321 | 22.0
322 | 27.0
323 | 30.0
324 | 22.0
325 | 29.69911764705882
326 | 36.0
327 | 61.0
328 | 36.0
329 | 31.0
330 | 16.0
331 | 29.69911764705882
332 | 45.5
333 | 38.0
334 | 16.0
335 | 29.69911764705882
336 | 29.69911764705882
337 | 29.0
338 | 41.0
339 | 45.0
340 | 45.0
341 | 2.0
342 | 24.0
343 | 28.0
344 | 25.0
345 | 36.0
346 | 24.0
347 | 40.0
348 | 29.69911764705882
349 | 3.0
350 | 42.0
351 | 23.0
352 | 29.69911764705882
353 | 15.0
354 | 25.0
355 | 29.69911764705882
356 | 28.0
357 | 22.0
358 | 38.0
359 | 29.69911764705882
360 | 29.69911764705882
361 | 40.0
362 | 29.0
363 | 45.0
364 | 35.0
365 | 29.69911764705882
366 | 30.0
367 | 60.0
368 | 29.69911764705882
369 | 29.69911764705882
370 | 24.0
371 | 25.0
372 | 18.0
373 | 19.0
374 | 22.0
375 | 3.0
376 | 29.69911764705882
377 | 22.0
378 | 27.0
379 | 20.0
380 | 19.0
381 | 42.0
382 | 1.0
383 | 32.0
384 | 35.0
385 | 29.69911764705882
386 | 18.0
387 | 1.0
388 | 36.0
389 | 29.69911764705882
390 | 17.0
391 | 36.0
392 | 21.0
393 | 28.0
394 | 23.0
395 | 24.0
396 | 22.0
397 | 31.0
398 | 46.0
399 | 23.0
400 | 28.0
401 | 39.0
402 | 26.0
403 | 21.0
404 | 28.0
405 | 20.0
406 | 34.0
407 | 51.0
408 | 3.0
409 | 21.0
410 | 29.69911764705882
411 | 29.69911764705882
412 | 29.69911764705882
413 | 33.0
414 | 29.69911764705882
415 | 44.0
416 | 29.69911764705882
417 | 34.0
418 | 18.0
419 | 30.0
420 | 10.0
421 | 29.69911764705882
422 | 21.0
423 | 29.0
424 | 28.0
425 | 18.0
426 | 29.69911764705882
427 | 28.0
428 | 19.0
429 | 29.69911764705882
430 | 32.0
431 | 28.0
432 | 29.69911764705882
433 | 42.0
434 | 17.0
435 | 50.0
436 | 14.0
437 | 21.0
438 | 24.0
439 | 64.0
440 | 31.0
441 | 45.0
442 | 20.0
443 | 25.0
444 | 28.0
445 | 29.69911764705882
446 | 4.0
447 | 13.0
448 | 34.0
449 | 5.0
450 | 52.0
451 | 36.0
452 | 29.69911764705882
453 | 30.0
454 | 49.0
455 | 29.69911764705882
456 | 29.0
457 | 65.0
458 | 29.69911764705882
459 | 50.0
460 | 29.69911764705882
461 | 48.0
462 | 34.0
463 | 47.0
464 | 48.0
465 | 29.69911764705882
466 | 38.0
467 | 29.69911764705882
468 | 56.0
469 | 29.69911764705882
470 | 0.75
471 | 29.69911764705882
472 | 38.0
473 | 33.0
474 | 23.0
475 | 22.0
476 | 29.69911764705882
477 | 34.0
478 | 29.0
479 | 22.0
480 | 2.0
481 | 9.0
482 | 29.69911764705882
483 | 50.0
484 | 63.0
485 | 25.0
486 | 29.69911764705882
487 | 35.0
488 | 58.0
489 | 30.0
490 | 9.0
491 | 29.69911764705882
492 | 21.0
493 | 55.0
494 | 71.0
495 | 21.0
496 | 29.69911764705882
497 | 54.0
498 | 29.69911764705882
499 | 25.0
500 | 24.0
501 | 17.0
502 | 21.0
503 | 29.69911764705882
504 | 37.0
505 | 16.0
506 | 18.0
507 | 33.0
508 | 29.69911764705882
509 | 28.0
510 | 26.0
511 | 29.0
512 | 29.69911764705882
513 | 36.0
514 | 54.0
515 | 24.0
516 | 47.0
517 | 34.0
518 | 29.69911764705882
519 | 36.0
520 | 32.0
521 | 30.0
522 | 22.0
523 | 29.69911764705882
524 | 44.0
525 | 29.69911764705882
526 | 40.5
527 | 50.0
528 | 29.69911764705882
529 | 39.0
530 | 23.0
531 | 2.0
532 | 29.69911764705882
533 | 17.0
534 | 29.69911764705882
535 | 30.0
536 | 7.0
537 | 45.0
538 | 30.0
539 | 29.69911764705882
540 | 22.0
541 | 36.0
542 | 9.0
543 | 11.0
544 | 32.0
545 | 50.0
546 | 64.0
547 | 19.0
548 | 29.69911764705882
549 | 33.0
550 | 8.0
551 | 17.0
552 | 27.0
553 | 29.69911764705882
554 | 22.0
555 | 22.0
556 | 62.0
557 | 48.0
558 | 29.69911764705882
559 | 39.0
560 | 36.0
561 | 29.69911764705882
562 | 40.0
563 | 28.0
564 | 29.69911764705882
565 | 29.69911764705882
566 | 24.0
567 | 19.0
568 | 29.0
569 | 29.69911764705882
570 | 32.0
571 | 62.0
572 | 53.0
573 | 36.0
574 | 29.69911764705882
575 | 16.0
576 | 19.0
577 | 34.0
578 | 39.0
579 | 29.69911764705882
580 | 32.0
581 | 25.0
582 | 39.0
583 | 54.0
584 | 36.0
585 | 29.69911764705882
586 | 18.0
587 | 47.0
588 | 60.0
589 | 22.0
590 | 29.69911764705882
591 | 35.0
592 | 52.0
593 | 47.0
594 | 29.69911764705882
595 | 37.0
596 | 36.0
597 | 29.69911764705882
598 | 49.0
599 | 29.69911764705882
600 | 49.0
601 | 24.0
602 | 29.69911764705882
603 | 29.69911764705882
604 | 44.0
605 | 35.0
606 | 36.0
607 | 30.0
608 | 27.0
609 | 22.0
610 | 40.0
611 | 39.0
612 | 29.69911764705882
613 | 29.69911764705882
614 | 29.69911764705882
615 | 35.0
616 | 24.0
617 | 34.0
618 | 26.0
619 | 4.0
620 | 26.0
621 | 27.0
622 | 42.0
623 | 20.0
624 | 21.0
625 | 21.0
626 | 61.0
627 | 57.0
628 | 21.0
629 | 26.0
630 | 29.69911764705882
631 | 80.0
632 | 51.0
633 | 32.0
634 | 29.69911764705882
635 | 9.0
636 | 28.0
637 | 32.0
638 | 31.0
639 | 41.0
640 | 29.69911764705882
641 | 20.0
642 | 24.0
643 | 2.0
644 | 29.69911764705882
645 | 0.75
646 | 48.0
647 | 19.0
648 | 56.0
649 | 29.69911764705882
650 | 23.0
651 | 29.69911764705882
652 | 18.0
653 | 21.0
654 | 29.69911764705882
655 | 18.0
656 | 24.0
657 | 29.69911764705882
658 | 32.0
659 | 23.0
660 | 58.0
661 | 50.0
662 | 40.0
663 | 47.0
664 | 36.0
665 | 20.0
666 | 32.0
667 | 25.0
668 | 29.69911764705882
669 | 43.0
670 | 29.69911764705882
671 | 40.0
672 | 31.0
673 | 70.0
674 | 31.0
675 | 29.69911764705882
676 | 18.0
677 | 24.5
678 | 18.0
679 | 43.0
680 | 36.0
681 | 29.69911764705882
682 | 27.0
683 | 20.0
684 | 14.0
685 | 60.0
686 | 25.0
687 | 14.0
688 | 19.0
689 | 18.0
690 | 15.0
691 | 31.0
692 | 4.0
693 | 29.69911764705882
694 | 25.0
695 | 60.0
696 | 52.0
697 | 44.0
698 | 29.69911764705882
699 | 49.0
700 | 42.0
701 | 18.0
702 | 35.0
703 | 18.0
704 | 25.0
705 | 26.0
706 | 39.0
707 | 45.0
708 | 42.0
709 | 22.0
710 | 29.69911764705882
711 | 24.0
712 | 29.69911764705882
713 | 48.0
714 | 29.0
715 | 52.0
716 | 19.0
717 | 38.0
718 | 27.0
719 | 29.69911764705882
720 | 33.0
721 | 6.0
722 | 17.0
723 | 34.0
724 | 50.0
725 | 27.0
726 | 20.0
727 | 30.0
728 | 29.69911764705882
729 | 25.0
730 | 25.0
731 | 29.0
732 | 11.0
733 | 29.69911764705882
734 | 23.0
735 | 23.0
736 | 28.5
737 | 48.0
738 | 35.0
739 | 29.69911764705882
740 | 29.69911764705882
741 | 29.69911764705882
742 | 36.0
743 | 21.0
744 | 24.0
745 | 31.0
746 | 70.0
747 | 16.0
748 | 30.0
749 | 19.0
750 | 31.0
751 | 4.0
752 | 6.0
753 | 33.0
754 | 23.0
755 | 48.0
756 | 0.67
757 | 28.0
758 | 18.0
759 | 34.0
760 | 33.0
761 | 29.69911764705882
762 | 41.0
763 | 20.0
764 | 36.0
765 | 16.0
766 | 51.0
767 | 29.69911764705882
768 | 30.5
769 | 29.69911764705882
770 | 32.0
771 | 24.0
772 | 48.0
773 | 57.0
774 | 29.69911764705882
775 | 54.0
776 | 18.0
777 | 29.69911764705882
778 | 5.0
779 | 29.69911764705882
780 | 43.0
781 | 13.0
782 | 17.0
783 | 29.0
784 | 29.69911764705882
785 | 25.0
786 | 25.0
787 | 18.0
788 | 8.0
789 | 1.0
790 | 46.0
791 | 29.69911764705882
792 | 16.0
793 | 29.69911764705882
794 | 29.69911764705882
795 | 25.0
796 | 39.0
797 | 49.0
798 | 31.0
799 | 30.0
800 | 30.0
801 | 34.0
802 | 31.0
803 | 11.0
804 | 0.42
805 | 27.0
806 | 31.0
807 | 39.0
808 | 18.0
809 | 39.0
810 | 33.0
811 | 26.0
812 | 39.0
813 | 35.0
814 | 6.0
815 | 30.5
816 | 29.69911764705882
817 | 23.0
818 | 31.0
819 | 43.0
820 | 10.0
821 | 52.0
822 | 27.0
823 | 38.0
824 | 27.0
825 | 2.0
826 | 29.69911764705882
827 | 29.69911764705882
828 | 1.0
829 | 29.69911764705882
830 | 62.0
831 | 15.0
832 | 0.83
833 | 29.69911764705882
834 | 23.0
835 | 18.0
836 | 39.0
837 | 21.0
838 | 29.69911764705882
839 | 32.0
840 | 29.69911764705882
841 | 20.0
842 | 16.0
843 | 30.0
844 | 34.5
845 | 17.0
846 | 42.0
847 | 29.69911764705882
848 | 35.0
849 | 28.0
850 | 29.69911764705882
851 | 4.0
852 | 74.0
853 | 9.0
854 | 16.0
855 | 44.0
856 | 18.0
857 | 45.0
858 | 51.0
859 | 24.0
860 | 29.69911764705882
861 | 41.0
862 | 21.0
863 | 48.0
864 | 29.69911764705882
865 | 24.0
866 | 42.0
867 | 27.0
868 | 31.0
869 | 29.69911764705882
870 | 4.0
871 | 26.0
872 | 47.0
873 | 33.0
874 | 47.0
875 | 28.0
876 | 15.0
877 | 20.0
878 | 19.0
879 | 29.69911764705882
880 | 56.0
881 | 25.0
882 | 33.0
883 | 22.0
884 | 28.0
885 | 25.0
886 | 39.0
887 | 27.0
888 | 19.0
889 | 29.69911764705882
890 | 26.0
891 | 32.0

### Keep